<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT cuisineCategory ANY>
<!ATTLIST cuisineCategory id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT pageVisibility ANY>
<!ATTLIST pageVisibility id ID #REQUIRED>
<!ELEMENT page ANY>
<!ATTLIST page id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1097" key="e488de3d-c749-482c-959a-4fc38216e41a" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-08-09T14:26:04" updateDate="2017-08-09T14:26:04" nodeName="Home" urlName="home" path="-1,1097" isDoc="" nodeType="1096" creatorName="jatinder" writerName="jatinder" writerID="0" template="1093" nodeTypeAlias="homePage">
    <excludeFromSitemap>0</excludeFromSitemap>
    <hideFromNavigation>0</hideFromNavigation>
    <cuisineCategory id="1107" key="b849a68d-75de-4037-8f41-03cc48bafa3a" parentID="1097" level="2" creatorID="0" sortOrder="0" createDate="2017-08-10T16:34:35" updateDate="2017-08-10T16:34:35" nodeName="North Indian" urlName="north-indian" path="-1,1097,1107" isDoc="" nodeType="1106" creatorName="jatinder" writerName="jatinder" writerID="0" template="1105" nodeTypeAlias="cuisineCategory">
      <excludeFromSitemap>0</excludeFromSitemap>
      <hideFromNavigation>0</hideFromNavigation>
    </cuisineCategory>
  </homePage>
</root>